<section class="container mt-5 col-md-11">
    <div class="form-wrap">

        <p>
        <div class="container-fluid; animate__animated animate__rubberBand" id="about" width="1100">
            <div class="row bg-dark text-white p-5 text-center">
                <p>
                <div class="form-wrap">
                    <img src="http://drive.google.com/uc?export=view&id=1A012Mnz56YJLIjFD_2D_Gzdyq3aME2V6" alt=""
                        width="900" class="animate__delay-2s animate__Bouncing entrances">
                </div>
                </p>
            </div>
        </div>
        </p>

        </br>





        <div class="btn-group; animate__animated animate__rubberBand" role="group"
            aria-label="Basic radio toggle button group" style="text-align: center;">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked=""
                onclick="myFunctionTemp()">
            <label class="btn btn-outline-primary" for="btnradio1">De Temporada</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked=""
                onclick="myFunctionZep()">
            <label class="btn btn-outline-primary" for="btnradio2">Zeppelines</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked=""
                onclick="myFunctionCup()">
            <label class="btn btn-outline-primary" for="btnradio3">Cupcakes</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked=""
                onclick="myFunctionPies()">
            <label class="btn btn-outline-primary" for="btnradio4">Pies</label>
        </div>





        </br>

        <div>
            <p class="animate__animated animate__rubberBand" style="text-align: center;">
                <button type="button" class="btn btn-success" onclick="myFunctionTemp()">De Temporada</button>
                <button type="button" class="btn btn-info" onclick="myFunctionZep()">Zeppelines</button>
                <button type="button" class="btn btn-warning" onclick="myFunctionCup()">Cupcakes</button>
                <button type="button" class="btn btn-danger" onclick="myFunctionPies()">Pies</button>
            </p>
        </div>

        </br>

        <script>
            function myFunctionZep() {
                var x = document.getElementById("zeppelin");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="container-fluid; animate__animated animate__rubberBand" width="1100" id="zeppelin" style="display: none" >
            <div class="row bg-dark text-white p-5 text-center">
                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <p>
                    <h3>Temporada</h3>
                    </p>
                    <div class="card-header">Zeppelin</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="/inicio/nosotros"><button type="button"
                                class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="Contacto"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function myFunctionTemp() {
                var x = document.getElementById("temporada");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="container-fluid; animate__animated animate__rubberBand" id="temporada" width="1100"
            style="display: none">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Temporada</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="/inicio/nosotros"><button type="button"
                                class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="Contacto"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>
            </div>
        </div>

        </br>

        <script>
            function myFunctionPies() {
                var x = document.getElementById("pies");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="container-fluid; animate__animated animate__rubberBand" id="pies" width="1100"
            style="display: none">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Pies</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="/inicio/nosotros"><button type="button"
                                class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="Contacto"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>
            </div>
        </div>

        </br>

        <script>
            function myFunctionCup() {
                var x = document.getElementById("cupcakes");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="container-fluid; animate__animated animate__rubberBand" id="cupcakes" width="1100"
            style="display: none">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Cupcakes</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="/inicio/nosotros"><button type="button"
                                class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="Contacto"><button type="button" class="btn btn-secondary">Secondary</button></a>
                    </div>
                </div>
            </div>
        </div>

        </br>

        <div class="jumbotron">
            <h1 class="display-3">Hola, {{primo}}</h1>
            <p class="lead">Vamos a realizar el sorteo para el convivio del 29 de Noviembre.</p>
            <hr class="my-4">
            <p>Al dar click al bot칩n "Sorteo" aparecer치 un nombre elegido al azar</p>
            <!--, s칩lo hay 3 intentos</p>-->

            {{#if sort}}
            <!--<p class="lead">
                <button class="btn btn-primary btn-lg" onclick="move()" role="button">Repetirlo</button>
            </p>-->
            {{else}}
            <p class="lead">
                <button class="btn btn-primary btn-lg" onclick="move()" role="button">Sorteo</button>
            </p>
            {{/if}}
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="{{progreso}}"
                    aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" id="progreso"></div>
            </div>
        </div>

        <input type="hidden" value={{pertenece}} id="primoPerten">
        <input type="hidden" value={{pr1}} id="cou">
        <input type="hidden" value={{vecc}} id="vec">
        <input type="hidden" value={{pr2}} id="to">
        {{#if sort}}
        <div class="card">
            <div class="card-body">
                <div>
                    <h3>Te toc칩: </h3>
                    <h1 class="text-primary">{{primo2}}</h1>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-success" onclick="aceptacion()" role="button">Continuar</button>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>